.navbar {
    /* background-color: var(--Clikr_BlackColor); */
    color: var(--Clikr_BlackColor);
    height: 4.3rem;
}
.menu-item {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.menu-box{
    line-height: 4;
}
i{
    font-size: var(--h3-font-size);
}