/* font poopind link add here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
 --body-font : 'Poppins', sans-serif;

/* font size define here */
--big-font-size: 3.5rem;
 --h1-font-size: 2.25rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;
--tiny-font-size: 0.625rem;

  /* ----------------FONT weight-------------------- */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

    /* ---------------- MArgenes bottom -------------------- */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

     /* ---------------- color define here -------------------- */
     --Clikr_WhiteColor: #FFFFFF;
     --Clikr_BlackColor: #000000;

     
     /* ---------------- sidebar bind content here -------------------- */
     .bind_menu_data{
      margin-left: 20%;
      padding-top: 8%;
  }

}